[submodule "microservices/transaction-category-service"]
	path = microservices/transaction-category-service
	url = https://github.com/Andre-devel/transaction-category-service.git
[submodule "microservices/discovery-service"]
	path = microservices/discovery-service
	url = https://github.com/Andre-devel/discovery-service.git
[submodule "microservices/config-service"]
	path = microservices/config-service
	url = https://github.com/Andre-devel/config-service.git
[submodule "microservices/user-service"]
	path = microservices/user-service
	url = https://github.com/Andre-devel/user-service.git
[submodule "microservices/auth-service"]
	path = microservices/auth-service
	url = https://github.com/Andre-devel/auth-service.git
[submodule "microservices/gateway-service"]
	path = microservices/gateway-service
	url = https://github.com/Andre-devel/gateway-service.git
